body {
    background-color: aliceblue;
}

.container {
    background-color: rgb(138, 192, 238);
    width: 1920px;
    height: 1080px;
    display: flex;
    border: solid black;
    border-radius: 0.5rem;
    display: grid;
    opacity: .75;
}

h1,p {
    display: flex;
    justify-content: center;
}

h4 {
    display: flex;
    justify-content: flex-end;
}

a {
    display: flex;
    justify-content: flex-start;
}

body {
    background-image: url(./assets/quiz2bg.jpg);
}

.red {
    color: red;
    font-size: 32px; 
}

a {
    font-size: 24px;
    color: black;
}

button {
    display: block;
    width: 100%;
    border: whitesmoke;
    border-radius: 0.5rem;
    background-color: #671397;
    padding: 14px 28px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    color:whitesmoke;
    justify-content: center;
    margin-top: 1.5rem;
  }

p {
    color: whitesmoke;
    font-size: 32px; 
}

h2 {
    color: black;
    font-weight: 500;
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
}

input {
    height: 50px;
    width: 100%;
    padding: 6px;
    margin-top: 10px;
    font-size: 2.4em;
    border: none;
    text-align: center;
    margin-bottom: 1rem;
}

.big {
    font-size: 48px;
    font-family: serif;
    margin-top: 2rem;
}